[user]
  name = Roberto Arosemena
	email = robert@lotus.mx
  username = arosemena
	signingkey = CA9A53A5C38DB7D2
[core]
  editor = vim
	autocrlf = input
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pull]
	rebase = false
