[user]
  name = Roberto Arosemena
	email = robert@lotus.mx
  username = arosemena
	signingkey = 5B2491778D736C81CEEF93A0B9770D8B532FEF01
[core]
  editor = vim
	autocrlf = input
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pull]
	rebase = false
[branch]
	autoSetupMerge = simple
[push]
	autoSetupRemote = true
