[user]
  name = Roberto Arosemena
	email = robert@lotus.mx
  username = arosemena
	signingkey = CA9A53A5C38DB7D2
[core]
  editor = vim
	autocrlf = input
[alias]
  pr = pull --rebase
  wipe = reset HEAD --hard
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[pull]
	rebase = false
